<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12 home-one">
        <app-login></app-login>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12 home-two">
      <h2>What is RSVP?</h2><br>
      <p>jgifldjg kfldsjg kfdlsjgkdf l;gjkdf lgjdfk lgjfdkg l;dfjgkdlf ;jgkdfl gjdfklg dfjklgfjdgkldfsgjkdfl gjfdklg dfjkgldf jgkldf gjdfklsg dfjkgldf
        kjgkfldjsg kfldsjgklfd gfjdg fdklg fdjklg dflgj fdg fdgdfkgjfdkg dkljklgjfdkl gfj dfkl ;fg d djfklgs fdjklg.
      </p><br>
      <ul>
        <li><button>Find an event</button></li>
        <li><button>Create a new event</button></li>
      </ul>
    </div>
  </div>
</div>